.about {
    // &__content {
    //     display: flex;
    //     justify-content: center;
    //     align-items: center;
    //     flex-direction: column;
    //     max-width: 100ch;
    //     margin-inline: auto;
    //     text-align: center;
    // }

    &__text_column {
        width: 80%;
        display: flex;
        flex-direction: column;
        margin-left: auto;
        
        h1 {
            font-weight: 400;
            @include fluid-type(650px, 1024px, 24px, 40px);
        }

        h1:nth-child(1) {
            margin-left: auto;
        }

        &__text_group {
            display: flex;
            align-items: center;
            
            h1 {
                margin-right: auto;
            }

            span {
                color: #afafba;
            }
            
            &__info {
                padding: 0.5rem 1rem;
                border: 1px solid #d6d6d6;
                border-radius: 999px;
            }
        }
    }


    &__image__column {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 2rem;

        img {
            border-radius: 20px;
        }

        &__group {
            flex: 1;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            width: 100%;
            height: fit-content;
            gap: 1rem;

            .col {
                flex: 1;

                &__content {
                    padding: 1rem 0.75rem;
                    
                    &__header {
                        display: flex;
                        h2 {
                            font-weight: 400;
                            @include fluid-type(650px, 1024px, 16px, 24px);
                        }

                        span {
                            display: flex;
                            align-items: center;
                            margin-left: auto;
                            rotate: 90deg;
                        }
                    }

                    p {
                        margin-top: 0.85rem;
                        @include fluid-type(650px, 1024px, 14.2px, 18px);
                        color: #afafba;
                    }
                }
            }

            .col__circle {
                display: flex;
                margin-top: 5rem;
                align-items: center;
                flex-direction: column;
                
                span {
                    padding: 2rem;
                    display: flex;
                    flex-direction: column;
                    rotate: 15deg;
                    align-items: center;
                    aspect-ratio: 1/1;
                    border: 1px solid #d6d6d6;
                    border-radius: 999px;
                    font-size: 18px;
                    transition: background-color 0.2s ease-in-out;

                    svg {
                        rotate: 40deg;
                    }
                }

                span:hover {
                    background-color: #f0f0f0;
                    cursor: pointer;
                }

                
            }

        }

        &__thumb {
            flex: 1;
            position: relative;

            img {
                width: 100%;
            }

            a {
                position: absolute;
                right: 0;
                bottom: 0;
                margin: 2rem;
            }
        }
    }


}