.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0;

    &__logo {
        font-size: 1.5rem;
        font-weight: 500;
        flex: 1;
        color: var(--color-primary);
    }

    &__links {
        display: flex;
        justify-content: center;
        flex: 2;
        gap: 8px;
    }

    &__links div {
        padding: 0.5rem 0.85rem;
    }

    &__links .dropdown {
        position: relative;
        display: inline-block;
    }

    &__links .dropdown-content {
        display: none;
        position: absolute;
        background-color: var(--color-secondary);
        border-radius: 10px;
        min-width: 160px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.02);
        z-index: 1;
    }

    &__links .dropdown-content a {
        color: var(--color-primary);
        text-decoration: none;
        display: block;
        width: fit-content;
        margin: 12px 16px;
    }

    &__links .dropdown:hover .dropdown-content {
        display: block;
    }

    &__links a {
        font-size: 1rem;
        transition: background-color 0.2s ease-in-out;
    }

    &__links a {
        position: relative;
    }

    &__links--hover::after{
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: var(--color-primary);
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
    }

    &__links--hover:hover::after {
        transform: scaleX(1);
        transform-origin: bottom left;
    }

    &__btn_group {
        display: flex;
        justify-content: flex-end;
        flex: 1;
        gap: 8px;
    }
}