:root {

    --color-primary: #101016;
    --color-secondary: rgb(245, 250, 255);

    --color-bg-light: #f9f9f9;
    --color-bg-dark: #101016;
    
    --color-text-primary: #0C0C11;
    --color-text-secondary: #666666;

    --color-btn-text-light: #ffffff;
    --color-btn-text-dark: #101016;

    --color-btn-bg-light: #ffffff;
    --color-btn-bg-dark: #101016;
}
