@font-face {
    font-family: 'Helvetica Now';
    src: url('/fonts/Helvetica-Now-Var.ttf') format('truetype');
}


body {
    font-family: 'Helvetica Now', sans-serif;
    font-size: clamp(16px, 1.6rem, 1.6rem);
    text-size-adjust: 100%;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}